# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-report/
/allure-results/
/cucumber-report.html
/.playwright-cli/
/.playwright-mcp/
state.json
features/screenshots/*.png
/*.png